body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #fire,#water,#grass{
    border: none;
} */

.pokemon{
    border: none;
    background-color: inherit;
}

#fire:hover{
    border: solid red 
}

#water:hover{
    border: solid blue;
}

#grass:hover{
    border: solid green;
}